[defaults]
inventory=inventory
remote_user=devops
collections_paths = ./collections:/usr/share/ansible/collections

[galaxy]
server_list = rh-certified_repo, community_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified
token=8d7e70d2bac1ca507cd8efae28c342913a10236a

[galaxy_server.community_repo]
url=https://hub.lab.example.com/api/galaxy/content/community/
token=8d7e70d2bac1ca507cd8efae28c342913a10236a
